/* Body */

body {
    margin: 0; 
    background-color:#80808040 ;
  }

  /* Header */
    
  .navbar {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0px;
      cursor: pointer;
      padding-right: 24%;
      background-color: #43176d;
  }
    
  .nav-list {
      width: 50%;
      display: flex;
  }
    
  .nav-list li {
      list-style: none;
      padding: 2% 15%;
  }
    
  .nav-list li a {
      text-decoration: none;
      color: white;
  }
    
  .nav-list li:hover {
      background-color: grey;
  }

  /* Body */

  h1{
    margin-top: 5%;
    text-align: center;
    color: black;
    background-color: #ffa500a3;
    margin-left: 8%;
    margin-right: 8%;
}

main{
    border: 1px solid;
    border-radius: 2%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 7%;
    background-color:#5858582b;
}

h2{
    text-align: center;
    margin-bottom: 3%;
}

.flex02, .email, .subject{
    margin-left: 13%;
}

.flex03,.telephone{
    margin-left: 21%;
}

textarea{
   margin-left: 19%;
   resize: none;
   margin-bottom: 3%;
   width: 55%;
}

.submit{
    margin-left: 36%;
    margin-bottom: 2%;
    width: 28%;
    height: 3em;
}

#sujet2, #sujet4{
    margin-left: 12%;
}

#nom:valid, #prenom:valid, #mail:valid, #textarea:valid{
    box-shadow: 0 0 2px 1px 
green;
}

.flex01, .flex001{
    display: flex;
}



/* Footer */

.flexfooter{
    margin-top: 5%;
    display: flex;
}

.br{display: none;}

.horaire{
    flex: 1;
    background-color: black;
    color: white;
}

.reseau{
    flex: 1;
    background-color: black;
    color: white;
}

h3{
    margin-left: 10%;
    font-size: 20px;
}

.horaire p{
    font-size: 20px;
    margin-left: 8%;
}

.reseau a{
    margin-left: 12%;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

@media screen and (max-width: 480px){

    .nav-list li {
        list-style: none;
        padding: 2% 10%;
        
    }

    .navbar {
        padding-right: 45%;
    }

    .flex01, .flex001{
        display: flex;
        flex-direction: column;
    }

        .flex02, .email{
            margin-left: 10%;
        }

        
    #mail, #nom{
margin-bottom: 8%;
    }
        
        .flex03,.telephone{
            margin-left: 10%;
        }

        #sujet2, #sujet4{
            margin-left: 8%;
        }

        .subject{
            margin-left: 0;
        }

        .br{
            display: block;
        }

        #sujet, #sujet3{
            margin-left: 8%;
        }

        #sujet2, #sujet4{
            margin-top: 10%;
        }

        main{
            width: 80%;
            margin-right: 90%;
            margin-left: 10%;
        }

        legend{
            margin-left: 8%;
            margin-bottom: 5%;
        }

        h1{
            margin-top: 10%;
        }

       h2{
        margin-bottom: 7%;
       }
        
    
}

@media screen and (max-width: 768px) {
    
    .nav-list li {
        list-style: none;
        padding: 2% 14%;
        
    }

    .navbar {
        padding-right: 45%;
    }

    .flex01, .flex001{
        display: flex;
        flex-direction: column;
    }

        .flex02, .email{
            margin-left: 15%;
        }

        
    #mail, #nom{
margin-bottom: 8%;
width: 60%;
    }

    #prenom, #tel{
        width: 60%;
    }
        
        .flex03,.telephone{
            margin-left: 15%;
        }

        #sujet2, #sujet4{
            margin-left: 8%;
        }

        .subject{
            margin-left: 0;
        }

        .br{
            display: block;
        }

        #sujet, #sujet3{
            margin-left: 8%;
        }

        #sujet2, #sujet4{
            margin-top: 10%;
        }

        main{
            width: 80%;
            margin-right: 90%;
            margin-left: 10%;
        }

        legend{
            margin-left: 8%;
            margin-bottom: 5%;
        }

        h1{
            margin-top: 10%;
        }

       h2{
        margin-bottom: 7%;
       }

}

