    /* Body */

body {
    margin: 0; 
    background-color:#80808040 ;
  }
    
    /* Header */
      
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0px;
        cursor: pointer;
        padding-right: 24%;
        background-color: #43176d;
    }
      
    .nav-list {
        width: 50%;
        display: flex;
    }
      
    .nav-list li {
        list-style: none;
        padding: 2% 15%;
    }
      
    .nav-list li a {
        text-decoration: none;
        color: white;
    }
      
    .nav-list li:hover {
        background-color: grey;
    }

    /* Body */

    h1{
        margin-top: 5%;
        text-align: center;
        color: black;
        background-color: #ffa500a3;
        margin-left: 8%;
        margin-right: 8%;
    }

    .flex1{
        display: flex;
        margin-top: 10%;
        margin-right: 5%;
        gap: 5%;
        justify-content: space-around;
    }

    .film{
        margin-left: 28%;
    }

    .film:hover{
        transform: scale(115%);
    }

    .flexTexte{
        margin-bottom: 0;
    }

    .flexTexte1{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

  .texte1, .texte2, .texte3, .texte4, .texte5, .texte6, .texte7, .texte8, .texte9{
        visibility: hidden;
        width: 90%;
        padding-left: 15%;
    }

    .titre1, .titre2, .titre3, .titre4,.titre5,.titre6,.titre7,.titre8,.titre9{
        font-size: 20px;
        text-align: center;
    }

    main{
        padding-top: 1%;
        padding-bottom: 3%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5%;
        background-color: #02110f38;
        border-radius: 5%;
        box-shadow: 3px 4px 12px;
        background-color: #006aff47;
    }

    button{
        padding: 3%;
       margin-left: 37%;
    }

    button:hover{
        background-color: #d1ccccd4;
    }

    .btn11, .btn22, .btn33, .btn44, .btn55, .btn66, .btn77, .btn88, .btn99{
        width: 50%;
        display: none;
    }

    .flexTexte a{
        text-decoration: none;
    }

    
       /* Footer */

       .flexfooter{
        margin-top: 5%;
        display: flex;
    }

    .horaire{
        flex: 1;
        background-color: black;
        color: white;
    }

    .reseau{
        flex: 1;
        background-color: black;
        color: white;
    }

    h3{
        margin-left: 10%;
        font-size: 20px;
    }

    .horaire p{
        font-size: 20px;
        margin-left: 8%;
    }

    .reseau a{
        margin-left: 12%;
        text-decoration: none;
        color: white;
        font-size: 18px;
    }

    @media screen and (max-width: 480px){
        .flex1{
            flex-direction: column;
        }

        .nav-list li {
            list-style: none;
            padding: 2% 10%;
            
        }
    
        .navbar {
            padding-right: 45%;
        }

        h1{
            margin-top: 10%;
        }
    }

    @media screen and (max-width:768px){
        .nav-list li {
            list-style: none;
            padding: 2% 14%;
        }
    
        .navbar {
            padding-right: 45%;
        }

        .flex1{
            flex-direction: column;
        }

        .film{
            width: 50%;
        }

        .titre1, .titre2, .titre3, .titre4, .titre5, .titre6, .titre7, .titre8, .titre9{
            font-size: 25px;
        }

        .btn11, .btn22, .btn33, .btn44, .btn55, .btn66, .btn77, .btn88, .btn99{
            width: 30%;
            margin-bottom: 25%;
        }

        .texte1, .texte2, .texte3, .texte4, .texte5, .texte6, .texte7, .texte8, .texte9{
            padding-left: 10%;
        }
        
    }