

/* Body */

body {
      margin: 0; 
      background-color:#80808040 ;
    }

    /* Header */
      
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0px;
        cursor: pointer;
        padding-right: 24%;
        background-color: #43176d;
    }
      
    .nav-list {
        width: 50%;
        display: flex;
    }
      
    .nav-list li {
        list-style: none;
        padding: 2% 15%;
        
    }
      
    .nav-list li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }
      
    .nav-list li:hover {
        background-color: grey;
        /* transform: scaleY(1.5); */
    }

    /* Body */

    h1{
        background-color: white;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-top: 5%;
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
        box-shadow: 6px 5px 15px;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5%;
    }

    .titr{
        color: #bc1515b0;
        position: absolute;
        left: 2em;
    }

    .act1{
        margin-top: 7%;
    }

    .acteur{
        margin-top: 5%;
        font-size: 30px;
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
    
    }

    .act{
        background-color: #815419a3;
        margin-left: 8%;
        margin-right: 8%;
        margin-bottom: 7%;
    }

    .flex1{
        display: flex;
        justify-content: center;
        gap: 5%;
    }

    .hr0{
        display: none;
    }


    .film:hover{
        transform: scale(115%);
    }

    .acteur{
        padding-top: 2%;
    }

    .acteur1{
        border-radius: 50%;
    }

    .acteur1:hover{
        opacity: 0.75;
    }

    .acteur2{
        border-radius: 50%;
    }

    .acteur2:hover{
        opacity: 0.75;
    }

    .acteur3{
        border-radius: 50%;
    }

    .acteur3:hover{
        opacity: 0.75;
    }

    .acteur4{
        border-radius: 50%;
    }

    .acteur4:hover{
        opacity: 0.75;
    }

    .acteur5{
        border-radius: 50%;
    }

    .acteur5:hover{
        opacity: 0.75;
    }

    /* Footer */

    .flexfooter{
        margin-top: 5%;
        display: flex;
    }

    .horaire{
        flex: 1;
        background-color: black;
        color: white;
    }

    .reseau{
        flex: 1;
        background-color: black;
        color: white;
    }

    h3{
        margin-left: 10%;
        font-size: 20px;
    }

    .horaire p{
        font-size: 20px;
        margin-left: 8%;
    }

    .reseau a{
        margin-left: 12%;
        text-decoration: none;
        color: white;
        font-size: 18px;
    }

/* @media screen and (max-width:480px){

    .nav-list li {
        list-style: none;
        padding: 2% 10%;
        
    }

    .navbar {
        padding-right: 45%;
    }

    .flexActeur{
        flex-direction: column;
    }

    .flexA{
        margin-left: 33%;
        margin-bottom: 5%;
    }

    .flex1{
        flex-direction: column;
        margin-left: 36%;
    }

    .film{
        width: 40%;
        margin-bottom: 10%;
    }

    h1{
        margin-top: 10%;
    }

    
} */
@media screen and (max-width: 768px){

    .nav-list li {
        list-style: none;
        padding: 2% 7%;
    }

    .titr{
        color: #bc1515b0;
        position: absolute;
        left: 0;
        font-size: 15px;
        left: 0;
    }

    .flexActeur{
        flex-direction: column;
    }

    .h1{
        margin-left: 15%;
        margin-right: 15%;
    }

    .acteur1, .acteur2, .acteur3, .acteur4, .acteur5{
        margin-left: 35%;
    }

    .flexA p {
        margin-left: 35%;
    }
    .acteur{
        padding-top: 5%;
    }

    .flex1{
        margin-top: 15%;
        margin-bottom: 15%;
    }

    h1{
        margin-top: 10%;
    }

    .hr0{
        display: block;
    }
    
}
    


      